<!DOCTYPE html>
<html lang = "en">
<body>

<h1>Welcome to the text analyzer. Enter your text below </h1>

<form action = '/removepunc' method="get">
    <textarea name = 'text' style="width: 924px; height: 86px;"> </textarea>

    <input type="checkbox" name="remove_punctuation"> Remove Puctuactins. <br>

    <input type="checkbox" name="full_caps"> Full caps . <br>
    <input type="checkbox" name="line_remove"> new line remover  . <br>
    <input type="checkbox" name="space_remove"> space remover  . <br>
    <input type="checkbox" name="char_count"> character counter  . <br>
    

    <button type='submit'> Analyze text </button>

</form>

<p>My first paragraph.</p>


</body>
</html>